<h2>Course Details</h2>

<ul style="list-style: none;">
  <li><a href="#desc">Course Description</a>
  <li><a href="#req">Requirements</a>
  <li><a href="#grading">Grading</a>
  <li><a href="#pol">Policies</a>
</ul>

<h4>Course Description</h4>
<a name="desc">

<h4>Requirements</h4>
<a name="req">

<p>This is an advanced, research-focused course, but undergraduate students are most welcome!
The course staff are keen to guide you, but the course will benefit us all the most if you
take initiative.
Students should know <em>something</em> about distributed systems and have <em>some></em>
experience programming in systems languages before taking this course.
For example, this might result from having taken one or more prior courses, such as:
<ul>
  <li><a href="/courses/csci0330/">CSCI 0330: Introduction to Computer Systems</a>: gives you
  a foundation in concurrent programming; this couse will assume a 0330-level understanding.
  <li><a href="/courses/csci1380/s19/">CSCI 1380: Distributed Computer Systems</a>: a good
  preparation in terms of distributed systems context and principles.
  <li><a href="/courses/csci0320/">CSCI 0320: Introduction to Software Engineering</a>: gives
  you principles of scalable software engineering and prepares you well for the final project;
  without other prior classes, you will have to learn a lot about distributed systems quickly.
  <li><a href="/courses/csci1320/">CSCI 1320: Creating Modern Web Applications</a>: will have
  given you context on web services and their backends; some distributed systems concepts
  might be a little tough without CSCI 1380.
</ul>
Any other interested students are welcome, but should get in touch with
<a href="/people/malte">Malte</a> before signing up.
</p>

<h4>Time Commitment</h4>
<a name="req">

You can expect to spend approximately 3 hours per week in class (40 hours total), and 2-3
hours preparing readings (27-40 hours total).
Assignments and the final project will take on the order of 3-5 hours per week (40-70 hours
total).

<h4>Grading</h4>
<a name="grading">

<h4>Policies</h4>
<a name="pol">

<h5>Accommodations</h5>
<p>Brown University is committed to full inclusion of all students.  Please inform me if you have
a disability or other condition that might require accommodations or modification of any of
these course procedures. You may email me, come to office hours, or speak with me after class,
and your confidentiality is respected. We will do whatever we can to support accommodations
recommended by SEAS. For more information contact Student and Employee Accessibility Services
(SEAS) at 401-863-9588 or SEAS@brown.edu.</p>

<h5>Mental Health</h5>
<p>Being a student can be very stressful. If you feel you are under too much pressure or there are
psychological issues that are keeping you from performing well at Brown, we encourage you to
contact Brown’s Counseling and Psychological Services
(<a href="https://www.brown.edu/campus-life/support/counseling-and-psychological-services/">CAPS</a>).
They provide confidential counseling and can provide notes supporting extensions on assignments
for health reasons.</p>

<h5>Incomplete Policy</h5>
<p>We expect everyone to complete the course on time. However, we certainly understand that there
may be factors beyond your control, such as health problems and family crises, that prevent you
from finishing the course on time. If you feel you cannot complete the course on time, please
discuss with Malte Schwarzkopf the possibility of being given a grade of Incomplete for the
course and setting a schedule for completing the course in the upcoming year.</p>

<p><em>Thanks to James Tompkin and Tom Doeppner for the text on accommodation, mental health, and
incomplete policies.</em></p>
