        <p class="lead">How can we design computer systems that protect users' privacy? This special topics course investigates this question.</p>
        <p>We will examine research papers on distributed system design, privacy-preserving, and secure computing techniques, and discuss how to apply these ideas in practice.
        The goal is to understand if, and how, we can better protect the sensitive data we entrust to computer systems, both against leaks and against unauthorized or unethical use.
        We will look at web services, datacenter systems, distributed communication systems, and machine learning systems.
        During class, you will present and discuss papers, finish a set of hands-on assignments, work on a research project, and present your project at the end of the semester.</p>

        <h3>Logistics</h3>
        <ul>
          <li><b>Instructor:</b> Malte Schwarzkopf (<code>malte@cs.brown.edu</code>).
          <li><b>Time:</b> TTh, 2:30-3:50pm.
          <li><b>Room:</b> CIT-506.
        </ul>

