        <p class="lead">How can we design computer systems that protect users' privacy? This special topics course investigates this question.</p>

        <p><b>Course Summary.</b>
        The goal of CSCI 2390 is to understand privacy-related challenges for computer systems, learn what design trade-offs we face as engineers, and to identify new research directions that might help address these challenges.
        We will examine research papers on distributed system design, privacy-preserving, and secure computing techniques, and discuss how to apply these ideas in practice.
        The goal is to understand if, and how, we can answer questions like these:
        <ul>
          <li>What happens to information we entrust to web services (e.g., email, photo sharing, social networks); how do companies store, process, and share it?
          <li>What requirements does privacy legislation &mdash; such as the EU's <abbr title="General Data Protection Regulation">GDPR</abbr> &mdash; impose on the computer systems involved?
          <li>Can better protect this sensitive data, both against leaks and against unauthorized or unethical use?
        </ul>
        We will look at web services, datacenter systems, distributed communication systems, and machine learning systems.
        During class, you will present and discuss papers, finish small hands-on assignments, work on a research project, and present your project at the end of the semester.</p>

        <p><b>Enrollment.</b> CSCI 2390 is a graduate-level class, but undergraduates are very welcome to enroll! Please check the <a href="details.html#req">prerequisites</a> and email Malte if you're unsure whether you meet them.</p>

        <h4>Announcements</h4>

        <div class="alert alert-info" role="alert">
        <b>2020/09/09:</b> Welcome! Our first two course meetings will be <b>online only</b> (<a href="https://brown.zoom.us/j/91005659965">here</a>; see Piazza for the password). After those meetings, the course will transition to hybrid mode.<br />
        </div>

        <h4>Logistics</h4>
        <ul>
          <li><b>Instructor:</b> <a href="/people/malte">Malte Schwarzkopf</a> (<code>malte@cs.brown.edu</code>).
          <li><b>Time:</b> TuTh, 2:30-3:50pm.
          <li><b>Room:</b> CIT-227 and <a href="https://brown.zoom.us/j/91005659965">on Zoom</a>.
          <li><a href="https://piazza.com/brown/fall2020/csci2390">Piazza</a> &ndash; <a href="http://csci2390-submit.cs.brown.edu">Submission site</a>
          <li><a href="details.html">Missive</a> &ndash; <a href="syllabus.html">Syllabus</a>
        </ul>

        <h4>Links</h4>
        <ul>
          <li>Prior CSCI 2390 offering: <a href="/courses/csci2390/2019">Fall 2019</a>
          <li><a href="http://cs.brown.edu/courses/csci1380/s19/">CSCI 1380: Distributed Computer Systems</a> and MIT's <a href="http://nil.csail.mit.edu/6.824/2018/">6.824: Distributed Systems Engineering</a>.
          <li>MIT's <a href="http://nil.lcs.mit.edu/6.S974/">6.S974: Decentralized Applications</a>.
        </ul>

