    <nav class="navbar navbar-expand-md navbar-dark fixed-top">
      <a class="navbar-brand" href="index.html"><b>CSCI-2390</b>: Privacy-Conscious Computer Systems</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item {{{index_ACTIVE}}}">
            <a class="nav-link" href="index.html">Home</a>
          </li>
          <li class="nav-item {{{schedule_ACTIVE}}}">
            <a class="nav-link" href="schedule.html">Schedule</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Assignments</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Projects</a>
          </li>
        </ul>
        <ul class="navbar-nav navbar-right hidden-xs hidden-sm">
          <li><a><b>Fall 2019</b></a></li>
        </ul>
      </div>
    </nav>
