<h2>Projects</h2>

<p>Final projects should seek to answer a research question through implementation of a new idea in a
real system. This could take one of several forms:
<ul>
  <li>Prototype a new, privacy-centered system design.
  <li>Apply a privacy-enhancing or privacy-preserving technique in an existing system, and measure its impact.
  <li>Conduct a study of privacy risks and deficiencies in existing software, and analyze what it would take to address them.
</ul>
</p>

<p>You may work on projects individually, or in groups of two to three students. Your project deliverables include a proposal,
a progress report and poster presentation, a final paper describing design and implementation, your code, and a presentation
I will post the final presentation and writeup to the course website (unless you explicitly want it kept confidential for a
good reason).</p>

<h5>Important dates</h5>
<ul class="list-unstyled">
  <li><b>October 10, 2019</b>: submit your project proposal (by 11pm).
  <li><b>November 14 and 19, 2019</b>: project conferences, at which you present your progress.
  <li><b>December 6, 2019</b>: submit your code and final report.
  <li><b>December 12, 2019</b>: presentation and demo.
</ul>

<h3>Project proposal</h3>

<p>Please use the <a href="https://www.usenix.org/conference/osdi18/requirements-authors">OSDI 2018 submission template</a>.
Your proposal should be a one-page summary of what your idea is, how you
plan to go about investigating it, and what techniques you will apply (or need to learn about beyond the course material).</p>

<h3>Project ideas</h3>

<p>Here's a list of some starter ideas to get you thinking. Please feel free to pursue your own ideas!</p>

<p style="color: red;"><b>UNDER CONSTRUCTION: this list is still incomplete,
and more suggestions will come in due course!</b></p>

<ul>
  <li>Implement <a href="readings/compliance-by-construction.pdf">GDPR compliance by construction</a> in <a href="https://pdos.csail.mit.edu/noria">Noria</a>.
  <li>Write a GDPR-compliant subject access and erasure tool for <a href="https://hotcrp.com">HotCRP</a>.
  <li>Add support for GDPR Subject Access Requests (SARs) and data deletion requests to another open-source web application.
  <li>Design a language for machine-readable privacy policies, and write a compiler that generates RPC code that enforces the policy (e.g., by modifying <a href="https://grpc.io">GRPC</a>).
  <li>Build a <a href="readings/multiversedb.pdf">multiverse database</a> extension for MySQL or PostgreSQL (perhaps using the Postgres extension API).
  <li>Investigate and map <a href="https://www.nytimes.com/interactive/2019/06/14/opinion/bluetooth-wireless-tracking-privacy.html">Bluetooth Beacons</a> in Providence; develop a spoofing utility that makes users untraceable.
  <li>Design and implement a GDPR-compliant blockchain.
  <li>Investigate provable GDPR compliance for a simple storage system (e.g., a key-value store).
  <li>Check out the ideas for decentralized application projects from <a href="http://nil.lcs.mit.edu/6.S974/more.html">MIT's 6.S974</a>.
</ul>
