<h2>Projects</h2>

<p>Final projects should seek to answer a research question through implementation of a new idea in a
real system. This could take one of several forms:
<ul>
  <li>Prototype a new, privacy-centered system design.
  <li>Apply a privacy-enhancing or privacy-preserving technique in an existing system, and measure its impact.
  <li>Conduct a study of privacy risks and deficiencies in existing software, and analyze what it would take to address them.
</ul>
</p>

<p>You may work on projects individually, or in groups of two to three students. Your project deliverables include a proposal,
a progress report, a final paper describing design and implementation, your code, and a presentation
I will post the final presentation and writeup to the course website (unless you explicitly want it kept confidential for a
good reason).</p>

<h5>Important dates</h5>
<ul class="list-unstyled">
  <li><b>October 2, 2020</b>: submit your project proposal (by 11pm).
  <li><b>October 29, 2020</b>: first project conference, at which you present your progress.
  <li><b>November 6, 2020</b>: submit a progress report on your project (by 11pm).
  <li><b>November 19, 2020</b>: second project conference, at which you present your progress.
  <li><b>December 2, 2020</b>: <a href="assign/final-report.html">submit</a> your code and final report.
  <li><b>December 3, 2020</b>: <a href="assign/final-report.html">presentation and demo</a>.
</ul>

<h3>Project proposal</h3>

<p>Please use the <a href="https://www.usenix.org/conference/osdi18/requirements-authors">OSDI 2018 submission template</a>.
Your proposal should be a one-page summary of what your idea is, how you
plan to go about investigating it, and what techniques you will apply (or need to learn about beyond the course material).</p>

<h3>Project ideas</h3>

<p>Here's a list of some starter ideas to get you thinking. Please feel free to pursue your own ideas!</p>

<ul>
  <li>Write a GDPR-compliant subject access and erasure tool for <a href="https://hotcrp.com">HotCRP</a>.
  <li>Design a language for machine-readable privacy policies, and a way to verify or enforce that a web application follows these policies.
  <li>Implement <a href="readings/compliance-by-construction.pdf">GDPR compliance by construction</a> in an existing web framework (e.g., Django) or storage system (e.g., MySQL, Postgres).
  <li>Help evaluate a new approach to retrofit GDPR compliance onto existing databases (somewhat similar to <a href="http://cs.brown.edu/courses/csci2390/2019/assign/project/report/odlaw.pdf">Odlaw</a>); contact Malte for details.
  <li>Build a <a href="readings/multiversedb.pdf">multiverse database</a> extension for MySQL or PostgreSQL.
  <li>Apply <a href="readings/resin.pdf">Resin</a>-style information flow control to a web application to enforce the GDPR's purpose limitation.
  <li>Add support for a deletion framework (à la <a href="readings/delf.pdf">DELF</a>) to an open-source web application framework (e.g., <a href="https://www.djangoproject.com/">Django</a>).
  <li>Build a tool that extracts and visualizes information hidden in the data returned from access requests (e.g., <a href="readings/targeted-advertising-twitter.pdf">Twitter's ad data</a>).
  <li>Build a web browser plugin that visualizes how web trackers are tracking the user across sites (cf. <a href="https://www.nytimes.com/interactive/2019/08/23/opinion/data-internet-privacy-tracking.html?smtyp=cur&smid=tw-nytimes">NYT article</a>).
  <li>Add support for GDPR Subject Access Requests (SARs) and data deletion requests to an open-source web application.
  <li>Check out the ideas for decentralized application projects from <a href="http://nil.lcs.mit.edu/6.S974/more.html">MIT's 6.S974</a>.
</ul>
