<h2>Project ideas</h2>

<ul>
  <li>Implement <a href="readings/compliance-by-construction.pdf">GDPR compliance by construction</a> in <a href="https://pdos.csail.mit.edu/noria">Noria</a>.
  <li>Design a language for machine-readable privacy policies, and write a compiler that generates RPC code that enforces the policy.
  <li>Write a GDPR-compliant subject access and erasure tool for <a href="https://hotcrp.com">HotCRP</a>.
  <li>Investigate and map Bluetooth Beacons in Providence.
</ul>
