<h2>Syllabus</h2>

<p>This is a research-oriented, advanced course. As such, it involves reading
research papers, discussing them in class, and exploring new ideas. It is best
suited for students who are comfortable with open-ended questions and happy to
take the initiative in coming up with creative ideas and solutions.</p>

<table class="table table-striped table-bordered">
  <tr>
    <td>Meetings</td>
    <td>K Hour: 2:30pm-3:50pm on Tuesdays and Thursdays</td>
  </tr>
  <tr>
    <td>Room</td>
    <td>CIT-227</td>
  </tr>
  <tr>
    <td>Notes</td>
    <td>Published after each class</td>
  </tr>
  <tr>
    <td>Textbook</td>
    <td>None (we will read research papers)</td>
  </tr>
  <tr>
    <td>Prerequisites</td>
    <td>CSCI 0330, CSCI 1380 or instructor permission.</td>
  </tr>
  <tr>
    <td>Instructor</td>
    <td><a href="/people/malte">Malte Schwarzkopf</a> (malte@cs.brown.edu)</td>
  </tr>
  <tr>
    <td>Office Hours</td>
    <td>by appointment</td>
  </tr>
  <tr>
    <td>Assignments</td>
    <td>Two hands-on assignments in the first half of the class, one to be
    completed as a written report and one with code to be handed in.</td>
  </tr>
  <tr>
    <td>Final Project</td><td>One research project of your own design.
    We strongly encourage you to work in groups. The goal is to investigate
    an idea, implement to to see if it makes sense, and evaluate how well
    it works. You will submit a proposal, a write-up in the form of a
    research paper, submit your code, and present the project in class.
    Project ideas topics should fit with the class theme; some initial
    <a href="projects.html">ideas</a> are available.</td>
  </tr>
  <tr>
    <td>Incompletes</td>
    <td>We expect everyone to complete the course on time. However, we
    certainly understand that there may be factors beyond your control,
    such as health problems and family crises, that prevent you from
    finishing the course on time. If you feel you cannot complete the
    course on time, please discuss with Malte Schwarzkopf the
    possibility of being given a grade of Incomplete for the course and
    setting a schedule for completing the course in the upcoming year.</td>
  </tr>
  <tr>
    <td>Late Policy</td>
    <td>Assigments must be finished by the deadline on the schedule;
    exceptions will only be made for legitimate reasons and in exceptional
    circumstances.
    The full late policy is described in
    the <a href="details.html">course missive</a>.</td>
  </tr>
  <tr>
    <td>Grading</td>
    <td>Questions: 10%; Participation: 20%; Presentation: 20%; Assignments: 10%; Final Project: 40%.<br />
    In general, if it is clear that you put significant effort into
    class discussion, the paper presentations for which you were the
    lead, the assignments, and your project, you'll get an A.</td>
  </tr>
  <tr>
    <td>Course Time</td>
    <td>Students will spend approximately 3 hours per week in class
    (40 hours total), and 2-3 hours preparing readings (27-40 hours
    total).
    Assignments and the final project will take on the order of 8-10
    hours per week (112-140 hours total).</td>
  </tr>
</table>
