<h2>Syllabus</h2>

<table class="table table-striped table-bordered">
  <tr>
    <td>Meetings</td>
    <td> 10-10:50am on Mondays, Wednesdays, and Fridays</td>
  </tr>
  <tr>
    <td>Room</td>
    <td>TBD</td>
  </tr>
  <tr>
    <td>Prerequisites</td>
    <td>none</td>
  </tr>
  <tr>
    <td>Instructor</td>
    <td><a href="/">Julia Netter</a> (julia_netter@brown.edu)</td>
  </tr>
  <tr>
    <td>Office Hours</td>
    <td>Monday, 11:30am-12:30pm, Arnold Lab 309 (91 Waterman St) <br>
    Please sign up <a href="https://calendar.google.com/calendar/u/0/selfsched?sstoken=UUdBbWFBc3BMQjBafGRlZmF1bHR8ZTI1ZjBlNDY4OGNjYTljOWFlYTQyNTFhZDY2YTYzYmQ">here</a> for an appointment slot. <br> If you cannot attend regularly scheduled office hours and would like to meet, please send me and email. </td>
  </tr>
  <tr>
    <td>Assignments</td>
    <td>Three short essays, group tutorials, two short exams, and a choice of either a long final paper/project or a final exam.</td>
  </tr>
  <!--  <tr>
  <td>Incompletes</td>
    <td>I expect everyone to complete the course on time. However, I
    certainly understand that there may be factors beyond your control,
    such as health problems and family crises, that prevent you from
    finishing the course on time. If you feel you cannot complete the
    course on time, please discuss with Malte Schwarzkopf the
    possibility of being given a grade of Incomplete for the course and
    setting a schedule for completing the course in the upcoming year.</td>
  </tr>-->
  <tr>
    <td>Late Policy</td>
    <td>Two late days (in total) for all short essays; no late days for weekly collaborative annotation assignments; exceptions for late work beyond the late days will only be made for legitimate reasons and in exceptional circumstances.</td>
  </tr>
  <tr>
    <td>Grading</td>
    <td>Weekly collaborative annotations: 15%; three essays + tutorials: 3x10%; two short exams: 2x15%; final project/exam: 25%. 
    </td>
  </tr>
  <tr>
    <td>Course Time</td>
    <td>Students will spend approximately 3 hours per week in class (40 hours total), and 3-4 hours preparing readings and annotating them collaboratively (42-56 hours total).
    Working on the short essays and preparing for tutorials will take around 5-7 hours per week (70-98 hours total). Preparation for the final exam or working on the final project will require an additional 30 hours.</td>
  </tr>
</table>

<br/>
<br/>

<h2>Course Details</h2>

<p><b>Please read this overview of the course carefully. We will go over parts of it at various times in class but that is no substitue for familiarizing yourself with the course structure and policies. I expect you to be aware of all the course components and policies outlined in this syllabus. </b></p>

<ul class="list-unstyled">
  <li><a href="#desc">Learning Objectives</a>
  <li><a href="#req">Course structure</a>
  <li><a href="#grading">Grading</a>
  <li><a href="#pol">Policies</a>
</ul>

<h3>Learning objectives</h3>
<a name="desc">

<p>This course will introduce you to key ethical debates in the area of digital technology. As such, you will learn about the key debates on a range of issues from artificial intelligence to digital privacy that equip you with the knowledge to delve deeper into these topics and connect them to each other, as well as debates on technological developments beyond the classroom. </p>

<!--<p>Importantly, this course will help you learn to think philosophically about these topics. You will develop the skills necessary to construct rigorous critical arguments, and will apply them 
both orally and in writing. Developing those arguments requires you to think and write both creatively and precisely, and to engage with critical challenges and feedback. The course is structured 
to help you improve these skills: you will write regularly and on a wide array of topics, engage with and respond to your peers. By the end of the semester, you will have compiled a portfolio of written work culminating in a major writing-project on a topic of your own choice.</p> -->

The course is structured to help you achieve two distinct learning objectives:
<ul class="list-unstyled">
  <li><b>Understand key philosophical issues</b> at stake in the development and use of modern digital technology and the philosophical ideas and concepts that help us make sense of them.
  <li>Develop your philosophical <b>reasoning skills.</b>
</ul>

<p>Both of these objectives require practice: practice reading, reasoning and writing. We often think of the stereotypical philosopher as someone who spends a lot of time on their own working out their ideas. But in reality, philosophy requires a lot of engagement: we need to talk to each other in order to better understand our own ideas and identify their flaws and strengths. We need feedback from others to learn how to best communicate those ideas, so others truly understand what we want to argue.  This course embraces that spirit and will provide you with ample opportunities to read, write, provide and receive feedback throughout the semester. </p>



<h3>Course structure</h3>
<a name="req">

<p>The course is comprised of the following components:</p>
<ul class="list-unstyled">
  <li>Lectures and in-classdiscussions: Mo-Wed-Fri
  <li>Collaborative annotations of key texts in preparation for lectures
  <li>Three short take-home essays (800-1000 words)
  <li>Three group tutorials (45 minutes each)
  <li>Two short in-class paper-based exams (40 minutes)
  <li>A choice of EITHER a final essay/project OR a longer final exam.  
 </ul>   

<p>See below for more information on each of these components.</p>

<h4>Lectures and in-class discussions</h4>
 <p> Monday and Wednesday sessions are usually lecture-style, whereas Friday sessions are reserved for in-class discussions and group activities to help you learn from each other. </p>

 <p>We will (for the most part) look at one topic each week. While each of the sessions will have a specific focus (often related to thetext or texts assigned to that session), all the sessions of the week are usually intertwined. You should have read all of the texts assigned for each session before class. All the assigned texts will be available on Canvas or, if they are available as an ebook, a link will be provided on the course schedule page. </p>


<h4>Collaborative annotations (15%)</h4>
<p>This course requires you to read, write, and comment on philosophical ideas. As such, each week you will:
<ul> 
  <li>1. read assigned readings; and
  <li>2. collaboratively annotate and comment on the text you have read (together with a group of your classmates, using the Hypothesis tool integrated with Canvas) and respond to the comments of others in your group.
</ul>
</p>
<p><!--Every week, you will write a short critical reflection (around 500 words) on the readings assigned for the week or on a related activity. The prompt for each week's reflection will be released on Canvas ahead of time.  In addition to your reflection, you will also submit one question every week. The question can be based on your reflection, focus on a different aspect in the reading material or more generally related to topic of the upcoming session. --> Your annotations are due by <b>midnight</b> on the day before the session for which the text has been assigned (usually Sunday and Tuesday, but check the schedule each week; sometimes readings are assigned for Friday sessions as well in which case the annotations are due by the end of Thursday).</p>
<p><!--Every week, you will also write a brief but polished response (around 300 words) to one of your classmate’s reflections, which will be assigned to you. The responses should engage with the core idea or argument advanced in the reflection. They may also offer critical feedback to the writer. Just like discussions in class, all critical feedback should be in good 
faith, courteous, and constructive. The comments  are due by <b>6 pm on Wednesday</b> each week.</p> -->

<p>Collaborative annotations are graded for completion: you will get full credit for them as long as you submit the required number of annotations and comments (three of each) and they reflect a reasonable and good-faith attempt to engage with the assigned texts and your classmates' comments.</p>

<h4>Three short essays</h4>
<p>You will write three short essays (800-1000 words) over the course of the semester. These essays provide you with the opportunity to practice your writing skills at home. They draw on ideas and concepts from class and the readings that you will have engaged with in the prior weeks and you are expected to develop your own argument in response to them. Each essay will be based on a prompt that will be released on Canvas ahead of time. They are due on the dates specified in the course schedule.</p>

<h4>Three group tutorials (45 minutes each)</h4>
Three group tutorials (45 minutes each): these are based on your short essays. You will be assigned to a tutorial group (of 3-4 students) which will meet three times with the instructor throughout the semester. In preparation for the tutorial, you will read and comment on each other’s short essays. Those comments and any questions that arise from your prior engagement will form the basis of a 45 minute group discussion in which you will provide and receive critical feedback on your and your groupmates’ arguments and writing, and deepen your understanding of the material. This is also the place where you can ask questions that go beyond that material and dig even deeper.

<h4>Two short in-class paper-based exams (40 minutes each)</h4>
Those exams will consist of a very short argumentative writing task and some brief questions that test your understanding of some key ideas and concepts we have discussed in class in the previous weeks. The take-home essays and tutorials will prepare you for the tasks you will encounter in the exams.

<h4>A choice of EITHER a final paper/project OR a longer final exam</h4>
<h5>Final paper/project </h5>
This is a long-form assignment in which you will be able to exercise your philosophical reasoning and writing skills. This project is on a topic of your choice (subject to instructor approval) related to the course material. You have to meet with Julia at least twice prior to handing in your final project to receive guidance and feedback. You will also meet with Julia once more after you have handed in your project for a 30 minute tutorial to discuss and receive feedback. Both the written part of the project and the tutorial are part of your final project grade.

<h5>Final exam</h5>
This is a 120 minute paper-based final exam which consists of both short argumentative tasks and questions to test your understanding of key ideas and concepts you will have encountered throughout the semester. 

IMPORTANT: If you would like to select the final paper/project option, you must notify Julia of that choice by October 31st. (A form will be distributed in advance.) If you do not make a choice, you will be automatically enrolled in the final exam. You may switch to the final exam option at any time before the final paper/project is due, but you may not switch to the final paper/project option after October 31st.


<h3>Grading scheme</h3>

<p>Grade inflation is real, and everyone in college has to contend with it.</p>

<p>One of the downsides of grade inflation is that grades lose their communicative value. Let me explain: we often tend to see the purpose of grades as summative assessment – providing information on how well you did in the class to external audiences, e.g., the university, other institutions, or future employers.</p>

<p>However, grades can (and should) also be a tool of formative assessment – providing you and me as an instructor with an honest indication of where your strengths and weaknesses lie, what you need to work on, and giving both of us an idea of your skill-building trajectory across the course. This signal gets lost if almost everyone expects and receives an A for each component of the course.</p>

<p>At the same time, grading in any one single course cannot operate in isolation of the expectations the rest of the world has about the meaning of a grade. If a B is perceived as a "bad" grade by others, it doesn't matter that, within the confines of a course, it's meant to reflect a good effort which merely lacks some features that make it fall short of the "outstanding" mastery of skills required for an A.</p>

<p>In this course, I want to be cognizant of all of these dimensions. Hence, we will operate two grading schemes:</p>

<ol>
  <li>a formative, honest grading scheme that is finely differentiated and aims to truly reflect your trajectory of skill development and provides honest feedback; and</li>
  <li>a summative grading scheme in which the more differentiated grades of the formative scheme will be translated into the standard ABC/NC or S/NC grading scheme.</li>
</ol>

<p>Here's what this will look like in practice:</p>

<p>The grades you receive on all assignments (including exams) will follow a numerical scheme from 1-6. Here's what the numbers mean:</p>

<ul>
  <li>1: outstanding</li>
  <li>2: good</li>
  <li>3: satisfactory</li>
  <li>4: sufficient: B</li>
  <li>5: deficient: C</li>
  <li>6: insufficient: NC</li>
</ul>

<p>For summative grading and your final grade at the end of the semester, I will translate your grades as follows.</p>

<p><b>Letter grade translation:</b></p>

<ul>
  <li>Grades 1-3 will be translated to an A;</li>
  <li>Grade 4 is equivalent to a B;</li>
  <li>Grade 5 to a C;</li>
  <li>and grade 6 is a failing grade.</li>
</ul>

<p><b>S/NC grade translation:</b></p>

<ul>
  <li>Grades 1-5 are equivalent to an S.</li>
  <li>Grade 6 is a failing grade.</li>
</ul>

<p>This means that final grades follow the same distribution as they historically have and do in other courses, meaning that external perception and comparison in a grade-inflated environment remains consistent. But it also means that you receive honest feedback throughout the semester, and you'll know how strong your work is and where you can improve even work that will ultimately result in an A.</p>

<p>You have my commitment that I will honor this translation: if your grades are in the 1-3 range, you will receive an A at the end of the semester (even if they are all 3s).</p>


<!--<h5>Two short papers (20%+20%) and colloquium</h5>
<p>You will write two short papers of around 1,500 to 2,000 words.</p>

<p>It is important that your paper focuses on answering the question in the prompt, and for it to defend your position by offering a well-structured argument that anticipates potential objections and engages with them. Given the brevity of these essays, I do not expect your discussion be exhaustive. A very good essay demonstrates that you understand the structure and substance of the arguments you invoke, as well as their limitations, and the extent to which they support a particular view. We will talk about what makes a good essay in one of our first sessions.

You will also be asked to discuss <b>one</b> of your short papers with me in after you have submitted it. In this 15 minute "colloquium", we will explore your arguments together and you will also receive more detailed feedback for how to improve your argumentative and writing skills for the next assignment. The colloquium accounts for 5% out of the 20% of the overall grade which is assigned to the respective paper (with 15% being accounted for by the written paper). There's no need to worry even if you don't yet feel confident in expressing your ideas on the spot. You have thought through and written about everything that may come up in the colloquium and we will use your paper as a guide for the conversation. We will talk in more depth about this aspect of the course in more detail early in the semester. 
</p>

<h5>Final project (30%)</h5>
<p>For your final project, you will work on a writing project of 3,000-3,500 words. Unlike the short papers, the format of the final project will look beyond the classic philosophical essay and leave more room for creative expression. That said, it still requires you to apply the rigorous argumentative skills you trained in the short papers and weekly comments and responses. We will talk about the details of this assignment in class, and will also spend ample time in person throughout the semester preparing it.
</p>
-->

<!--<p>You should choose a question that lends itself to a substantive normative argument. However, unlike in the short essays, the topic is relatively unconstrained. It should relate to one or several topics we discussed in class, and I encourage you to look beyond the abstract, technical debates in the literature to search for interesting questions, puzzles, or problems in your everyday life. Ethics and political philosophy are driven by the clashes of ideas, ideals, and values that we encounter in society and the political sphere. In the long paper, I want you to show that you can relate the debates you encounter in this class to a new question, and that you can make a rigorous argument advocating a philosophical position on that question. In our first session and throughout the course, we will talk about how to identify philosophical questions as you go through your everyday life and about what makes a good question for a seminar paper.</p> -->

<h4>Participation</h4>
<p>This is a lecture course but it will nevertheless be interactive, so please be prepared to get involved in the discussion. The Friday sessions will typically be dedicated workshop and discussion sessions and your active participation is expected in those, but there will also be ample room for conversation in the lecture sessions on Monday and Wednesday.</p>

<p>One note on the culture of debate which I would like to foster in this course: discussions in philosophy are not about winning an intellectual battle, but about engaging with others’ views on their merits. They are also about taking intellectual risks, putting forward a potentially controversial argument, as well as receiving and offering constructive criticism. This is only possible in a class environment in which we build trust. In class, I therefore expect us all to treat each other courteously, engage with each other’s arguments constructively and in good faith no matter the topic.</p>


<!--<h3>Time Commitment</h3>
<a name="req">

<p>You can expect to spend approximately 3 hours per week in class (40 hours total), and
around 3-4 hours preparing readings, and creating annotations and responding to others' comments in their respective annotations (42-56 hours total).
All portfolio work will take around 98-126 hours in
total throughout the semester.</p> -->

<h3>AI policy</h3>

<p><b>In short, all of the written work you hand in (this includes all collaborative annotations, essays and exams) must have been outlined, argued, and written by you without the use of AI tools.</b></p>

<p>This policy is not ignorant of the fact that AI tools are transforming the way in which we collect and process information, and communicate our ideas. They can help us collect and summarize information and perspectives, provide feedback and polish our writing. That's great!</p>

<p>But the point of taking a philosophy course is not to produce the most impressive-looking essay in the most efficient manner. It's to build true understanding and develop your capacity for critical reasoning and judgment. Here's the rub: developing those skills requires manual practice. That practice involves reasoning your way through a gnarly argument on your own, and also the struggle to put those ideas in your own words – writing is catalyzes our thought process.</p>

<p>Short-circuiting these tasks by using AI tools for the developing and conveying your arguments (i.e., reasoning, outlining and writing) will prevent you from learning what this course intends to teach you. That's why this policy does not permit the use of AI tools in the manner outlined above. Submitting work that is clearly copied from AI output also violates Brown's Academic Code and will be pursued as such.</p>

<p><b>You are explicitly welcome, though not required, to use AI tools for tasks that support you in building your argumentative skills: i.e., helping you understand ideas, concepts, and debates, and to find additional resources.</b> Keep in mind, though, that AI tools aren't always reliable, especially when it comes to providing information about contested or more niche ideas and topics. When you decide to use them for research, I strongly recommend you treat them as springboards for further research and argumentation to back up the information they provide.</p>

<p>In short, in order to be successful in the course and do well on all graded parts of the course (annotations, short essays and tutorials, short exams, the final paper or exam), you have to put in the legwork of practicing to think, argue and write yourself.</p>

<p>If you have any questions about this policy or are unsure about whether might be in violation of it, please get in touch before you start working on an assignment. I am happy to discuss this with you and provide guidance on how to use AI tools in a way that is consistent with the goals of the course and this policy.</p>


<h3>Attendance and submission policies</h3>
<a name="pol">

<p><b>Late policy:</b> You can use a budget of two late days for each of the short essay assignments. The purpose of these late days is to provide you with some flexibility for unexpected situations in which you find yourself unable to complete an assignment on time (e.g., coinciding deadlines, extracurricular commitments, etc.). For those situations, I normally expect you to use your late days, rather than asking for an extension, so make sure to use them judiciously.  

<p><em>Annotations</em> are generally due at <b>midnight</b> (EST) on Sunday and Wednesday (see course schedule for exceptions), and owing to the small amount of credit they contribute individually, there will be no late submission. If you do encounter particular, unexpected hardships however, please send me an email.</p>


<p><b>Attendance:</b> I expect you to attend every session, but let me know if you have any special
requirements or can't make it to class because you are sick. For longer absences, please obtain a Dean's note and I will accommodate it.</p>

<!--<p>The course will involve substantial <em>reading</em> for each meeting, and you will need to
stay on top of the assigned readings to keep up, as we quickly move between topics. However, the texts we read are relatively standalone, so finding one paper difficult to read will not
disadvantage you going forward.</p> -->


<h4>Accommodations</h4>
<p>Brown University is committed to full inclusion of all students.  Please inform me if you have
a disability or other condition that might require accommodations or modification of any of
these course procedures. You may email me, come to office hours, or speak with me after class,
and your confidentiality is respected. I will do whatever we can to support accommodations
recommended by SEAS. For more information contact Student and Employee Accessibility Services
(SEAS) at 401-863-9588 or SEAS@brown.edu.</p>

<h4>Mental Health</h4>
<p>Being a student can be very stressful. If you feel you are under too much pressure or there are
psychological issues that are keeping you from performing well at Brown, I encourage you to
contact Brown’s Counseling and Psychological Services
(<a href="https://www.brown.edu/campus-life/support/counseling-and-psychological-services/">CAPS</a>).
They provide confidential counseling and can provide notes supporting extensions on assignments
for health reasons.</p>



<h4>Academic Integrity</h4>
<p>Beyond the provisions of the course policy on the use of generative AI, the Brown academic code applies: “Academic achievement is ordinarily evaluated on the basis of work that a student produces independently. Students who submit academic work that uses others’ ideas, words, research, or images without proper attribution and documentation are in violation of the academic code. Infringement of the academic code entails penalties ranging from reprimand to suspension, dismissal, or expulsion from the University.</p>

<p>“Brown students are expected to tell the truth. Misrepresentations of facts, significant omissions, or falsifications in any connection with the academic process (including change of course permits, the academic transcript, or applications for graduate training or employment) violate the code, and students are penalized accordingly. This policy also applies to Brown alums, insofar as it relates to Brown transcripts and other records of work at Brown.
</p>

<p>“Misunderstanding the code is not an excuse for dishonest work. Students who are unsure about any point of Brown’s academic code should consult their courses instructors or an academic dean, who will be happy to explain the policy.”</p>

<p>Please review the Brown Academic Code <a href="https://www.brown.edu/academics/college/degree/policies/ academic-code">here. </a></p>
