<h2>Final Project submission</h2>

<p><a href="assign/reports.html"><b>2019 final reports and presentation order</b></a></p>

<p>Your final project consists of three parts: the project code, a written report, and a demo in class.</p>

<div class="alert alert-danger" role="alert">Note that the deadline for the final report has been extended to <b>Monday, December 9, 11pm EST</b>. You don't have to submit your code separately on December 6, but I encourage you to use the extra time to focus on the write-up, rather than on further development.</div>

<h3>Code submission</h3>

<p>Please submit your code either as a link to a repository (e.g., on GitHub) or as a ZIP file with clear
instructions on how to build and run it.</p>

<h3>Final report</h3>

<p>Please use the <a href="https://www.usenix.org/conference/osdi18/requirements-authors">OSDI 2018 submission template</a>
for typsetting your report. The report is a piece of scientific writing, similar to a paper like those we read during the
course. It should therefore follow the structure of a good paper:
<ol>
 <li><b>Abstract:</b> a short, high-level summary of the problem you're addressing, why it is important, what your solution does, and how well it works.
 <li><b>Introduction:</b> motivate the problem and the solution, and give an overview of the key insights/ideas in your work. Make sure to highlight any limitations that the reader should be aware of.
 <li><b>Background/related work:</b> explain what literature and ideas you're building upon, and explain any concepts readers need to understand.
 <li><b>Design:</b> describe the design of your system, including how an end-user or application developer uses your system, as well as any key ideas, abstractions, or algorithms involved.
 <li><b>Implementation:</b> give a brief overview of how you implemented your work, how many lines of code you had to write, and what implementation and engineering challenges you had to overcome. (This section can be quite short.)
 <li><b>Evaluation:</b> describe what experiments you conducted to validate that you have indeed solved the problem you set out to address; clearly explain your experimental setup and case studies, and give performance numbers if they are important.
</ol>
A good report will likely require three to six pages of text.
</p>

<p>Please send your final report by email to Malte by the deadline.</p>

<h3>Demo and Presentation</h3>

<p><a href="assign/reports.html"><b>2019 final reports and presentation order</b></a></p>

<p>During the final course meeting on <b>December 12, 2019</b>, you will demo your project to the class. Each project will have <b>six minutes</b> for the presentation and demo (this is a <em>hard limit</em> and will be enforced!). As time is tight, please rehearse your demo well and keep the presentation brief. The presentation should explain the top-level insights from your project: what problem you set out to solve, how you approached it, and how well the solution worked. The demo should illustrate how an end user or developer might use your system, and highlight any key ideas and concepts you invented.</p>

<p>After the presentation, we will have 1 minute for questions; please let the next presenter set up during this discussion.</p>
