<h2>Assignment 1: GDPR Case Study</h2>

<p style="color: red;"><b>UNDER CONSTRUCTION: this assignment is still incomplete and will be updated soon!
Please be patient while we put this new course together.</b></p>

<p>In this assignment, you will investigate a documented violation of the EU's General Data Protection Regulation (GDPR), learn
the details of the case, and present it to the class. The goal is to understand how the privacy of user data is violated in
practice, either deliberately or accidentally, what technical issues arise, and what sanctions apply.</p>

<p><b>Overview of what you will do:</b>
<ol>
  <li>Pick a real-world GDPR violation case and investigate it.
  <li>Write a short (1-2 pages) report about the case.
  <li>Present the case in class (3-4 minutes, 1-2 slides).
</ol>
</p>

<p>Please read the detailed instructions below, as they are designed to help make the assignment easier for you.</p>

<h4>Step 1: Choose a case</h4>

<p>The first thing to do is to pick a case that you will look into and present. Records of GDPR violations are available online
in many locations, including <a href="http://www.enforcementtracker.com/">here</a> and
<a href="https://github.com/lknik/gdpr/blob/master/fines/README.md">here</a>. When choosing a case, you might want to bear the
following in mind:</p>
<ul>
  <li>Some cases are documented much better than others; choose a case for which you are confident you can answer most of the
  questions in Step 3 below using the available information.
  <li>High-profile cases are likely to have more media coverage and details available, but small cases (e.g., individuals getting
  fined) can also be interesting.
  <li>One primary source of information is often a European country's <a href="https://en.wikipedia.org/wiki/National_data_protection_authority#European_Economic_Area">data protection agency</a>, as these agencies impose the fines. The agencies often have a section on their website
  that lists enforcement cases (for example, the UK's <a href="https://ico.org.uk/action-weve-taken/enforcement/">Information Commissioner's Office list</a>), and those lists may be a good source of cases missing from the above aggregator lists.
  <li>Some of the official documents you find may be in the national language of the country in which the violation occurred. Sometimes,
  you can find an English version on the national data protection agency's website, or by searching for the name of the violating entity
  and "GDPR" on the internet to find press coverage.
</ul>

<p>Choose a case that you find interesting, and enter it in <a href="https://docs.google.com/spreadsheets/d/1yBho06twa5Ej8R7Q9fH5BjheRonelKXyfkoa6y1whn8/edit?usp=sharing">this spreadsheet</a>. Please make sure to avoid duplicates if possible; you are welcome to join an existing
group.</p>

<h4>Step 2: Find out the facts</h4>

<p>Now investigate the case, and take detailed notes on these questions (and other important aspects of the case you come across):</p>

<ol>
  <li>Why was a fine imposed? Which articles of the GDPR were violated, and by whom?
  <li>What went wrong on a technical level?
  <li>What personal data was exposed/mishandled, and in what way?
  <li>How could this have been prevented?
</ol>

<h4>Step 3: Write a report</h4>

<p></p>

<h4>Step 4: In-class presentation</h4>

<p></p>
