
http://www.enforcementtracker.com/

https://github.com/lknik/gdpr/blob/master/fines/README.md

<ul>
  <li>What went wrong?
  <li>What personal data was exposed/mishandled, and in what way?
  <li>How could this have been prevented?
</ul>
