<h2>Assignment 1: GDPR Case Study</h2>

<ul class="list-unstyled">
  <li><a href="gdpr.html">Assignment</a>
</ul>

<h3>Written reports</h3>

<ul>
 <li>Jearson Alfajardo: <a href="gdpr/ja43-nra.pdf">GDPR Violation Case Study: National Revenue Agency of Bulgaria</a>
 <li>Zeling Feng: <a href="gdpr/zfeng9-rudolf.pdf">A Case Study of Violating GDPR by Installing Surveillance Cameras</a>
 <li>Alexander J. Gaidis: <a href="gdpr/agaidis-skelleftea-school-board.pdf">Case Study of the GDPR Violation by the Skellefteå Municipality School Board</a>
 <li>Marilyn George: <a href="gdpr/mgeorge5-wtc-hotel.pdf">GDPR Case Study: World Trade Center Bucharest (Romania)</a>
 <li>Amir Ilkhechi: <a href="gdpr/ilkhechi-bergen.pdf">Bergen municipality infringement of GDPR</a>
 <li>Zhoutao Lu: <a href="gdpr/zlu24-active-assurances.pdf">On the Sanction to ACTIVE ASSURANCES for Customer Data Breach</a>
 <li>Connor Luckett: <a href="gdpr/cluckett-marriott.pdf">How Not to Acquire a Company: The GDPR Case Against Marriott International, Inc.</a>
 <li>Ghulam Murtaza, Saim Salman: <a href="gdpr/ssalman1-gmurtaza-google.pdf">GDPR fine imposed upon Google: An Analysis</a>
 <li>Yanyan Ren: <a href="gdpr/yren17-bisnode.pdf">The First GDPR Fine Imposed by the Government of Poland</a>
 <li>James Rolfe: <a href="gdpr/jrolfe-policeofficer.pdf">LfDI Baden-Wuerttemberg imposed first fine against police officers</a>
 <li>Ankita Sharma: <a href="gdpr/asharma7-hospital-barreiro.pdf">GDPR Case Study: Centro Hospitalar Barreiro Montijo</a>
 <li>Brandon Tan, Irvim Lim: <a href="gdpr/tjiansin-ilim5-aggregateiq.pdf">GDPR Case Study 2018-07-06, AggregateIQ (Canada), UK</a>
 <li>Washington Wang: <a href="gdpr/xwang31-uniontrad.pdf">GDPR Case Study: A Merseburger’s Mailing List</a>
 <li>Archer Wheeler: <a href="gdpr/awheele9-uniontrad.pdf">Uniontrad Company GDPR Violation, France</a>
 <li>Yuchen Yang: <a href="gdpr/yyang125-pwc.pdf">GDPR Case Study PwC fined by HDPA</a>
 <li>Wensi You: <a href="gdpr/wyou-ba.pdf">British Airways GDPR Infringement: A Disaster Caused by A 22-line JavaScript Code</a>
 <li>Luke Zhu: <a href="gdpr/lzhu7-laliga.pdf">La Liga GDPR Report</a>
</ul>
