<h2>GDPR Case Study: 2020 reports</h2>

<ul class="list-unstyled">
  <li><a href="gdpr.html">Assignment</a>
</ul>

<h3>Written reports</h3>

<ul>
 <li>Akshat Mahajan: <a href="gdpr/amahaja5-la-liga.pdf">GDPR Case Study: Examining League’s Defense of Collecting Recording and Geopositioning Data in Spain</a>
 <li>Nam Do: <a href="gdpr/ndo3-austrian-post.pdf">Case Study of the GDPR Violation by the Austrian Post</a>
 <li>Casey Nelson: <a href="gdpr/cnelso13-tim.pdf">When Telemarketing Goes Too Far: A GDPR Case Study on TIM</a>
 <li>Kinan Dak Albab: <a href="gdpr/kdakalba-google-sweden.pdf">GDPR Case Study: 2020-03-11, Google LLC, Sweden</a>
 <li>Yanzhi Xin: <a href="gdpr/yxin9-sziget.pdf">Is It Really Necessary: GDPR Case Study of Sziget Music Festival Check-In</a>
 <li>Aryan Srivastava: <a href="gdpr/asriva11-spartoo.pdf">GDPR Case Study: Spartoo</a>
 <li>Sam Thomas: <a href="gdpr/sthoma41-car-rental.pdf">Analysis of UOOU GDPR Charges Against A Car Rental Company</a>
 <li>Mary McGrath: <a href="gdpr/mmcgrat3-mapei.pdf">Is Your Work Email Yours? A GDPR Case Study</a>
 <li>Sam Boger: <a href="gdpr/sboger-doorstep-dispensaree.pdf">GDPR Case Study: Doorstep Dispensaree Ltd</a>
 <li>Yingjie Xue: <a href="gdpr/yxue11-tusla.pdf">GDPR Violation Case Study: Tusla’s Data Breaches</a>
 <li>Jonathan Weisskoff: <a href="gdpr/jweissko-google-belgium.pdf">Google Belgium vs The Belgian DPA: A GDPR Case Study</a>
 <li>Rebecca Zuo: <a href="gdpr/rzuo-gdansk-school.pdf">GDPR Case Study: Biometric Fingerprinting in Poland School</a>
 <li>Hyun Choi: <a href="gdpr/hchoi26-wind-tre.pdf">Wind Tre’s GDPR Fine: Real Deterrent or Cost of Doing Business?</a>
 <li>Zhiyuan Lai: <a href="gdpr/zlai4-morele-net.pdf">GDPR Case Study: Morele.net Sp. z o. o., Poland</a>
 <li>Ragna Agerup: <a href="gdpr/ragerup-google-sweden.pdf">Google LLC Fined after GDPR Infringement in Sweden</a>
 <li>William Kuenne: <a href="gdpr/wkuenne-pwc.pdf">GDPR Case Study – PWC vs. HDPA</a>
 <li>Atlas Yu: <a href="gdpr/zyu37-google-france.pdf">GDPR Violation Case Study: Google LLC</a>
</ul>
