<h2>Assignments</h2>

<p>CSCI 2390 is mostly focused on reading and discussing research papers, some of which you will present.
In addition, you will complete two short assignments throughout the course.</p>

<p>You are encouraged to discuss and collaborate on the assignments, but you must submit your own, individual solutions.</p>

<ul>
  <li><a href="{{{ROOT}}}../assign/gdpr.html">Assignment 1: GDPR case study</a> (due <b>Sept 18, 11pm</b>)
  <li>Assignment 2: <em>coming soon</em>
</ul>

<p>You must submit your solutions by 11pm (Eastern) the evening before class (as per <span style="color: red;"><b>DUE</b></span> dates on <a href="{{{ROOT}}}../schedule.html">the schedule</a>).</p>
