<h2>2019 Final Projects</h2>

<p>The reports for the 2019 final projects are below. Presentations will happen in order of this list on <b>Thursday, December 12 during class</b>.</p>

<ol>
 <li>Irvin Lim, Brandon Tan: <a href="project/report/paranoid.pdf">Paranoid: Privacy through Granular Separation of User Identities</a>
 <li>Marilyn George, Archita Agarwal: <a href="project/report/gdpr-cbyc-kvstore.pdf">A GDPR-compliant key-value store</a>
 <li>Jearson Alfajardo, Connor Luckett: <a href="project/report/odlaw.pdf">Odlaw: Retroactive GDPR Compliance For Relational Databases</a>
 <li>Ankita Sharma, James Rolfe: <a href="project/report/gdpr-blockchain.pdf">Privacy-First Infrastructure Design for Hospital Record Management using GDPR Compliant Blockchain</a>
 <li>Wensi You, Zeling Feng, Zhoutao Lu: <a href="project/report/gdpr-cbyc-noria.pdf">GDPR Compliance by Construction in Noria</a>
 <li>Alexander Gaidis, Andrew Park: <a href="project/report/pir-and-tor.pdf">Comparing Security, Latency, and Throughput of PIR and the Tor Network</a>
 <li>Archer Wheeler: <a href="project/report/safeserver.pdf">SafeServer</a>
 <li>Ghulam Murtaza, Amir R. Ilkhechi, Saim Salman: <a href="project/report/gdpr-service-meshes.pdf">Impact of GDPR on Service Meshes</a>
 <li>Luke Zhu: <a href="project/report/encrypted-analytics.pdf">Analyzing Encrypted Analytics</a>
 <li>Yanyan Ren, Yuchen Yang: <a href="project/report/beacon-anonymization.pdf">Bluetooth Beacons and How to Make Users Untraceable</a>
 <li>Washington Wang: <a href="project/report/gdpr-mylar.pdf">GDPR-Compliant Mylar</a>
</ol>
