<h2>2020 Final Projects</h2>

<p>The presentations will happen in order of this list on <b>Thursday, December 3 during class</b>.</p>

<ol>
 <li>Dataflow Assertions in gRPC (Jonathan, Yingjie, Akshat)
 <li>Actionable GDPR Information on Internet Trackers (Sam Boger)
 <li>Cross-website Tracker Visualization Extension (Ragna, Aryan, William)
 <li>DELF-style DDL and API (Mary)
 <li>Normative Aspects of Privacy Regulations (Hyun, Rebecca)
 <li>Multiverse PostgreSQL (Casey)
 <li>Impact of GDPR Compliance on Machine Learning Models (Sam Thomas, Nam)
 <li>GDPR Compliance by Construction (Kinan)
 <li>Framework for Data Tracking across Controllers and Processors (Zhiyuan, Yanzhi, Atlas)
</ol>
