<h2>2020 Final Projects</h2>

<p>The presentations will happen in order of this list on <b>Thursday, December 3 during class</b>.</p>

<ol>
 <li>Dataflow Assertions in gRPC (Jonathan, Yingjie, Akshat)
 <li>Actionable GDPR Information on Internet Trackers (Sam Boger)
 <li>Cross-website Tracker Visualization Extension (Ragna, Aryan, William)
 <li><a href="project/report/2020/delf-rs.pdf">DELF-style DDL and API</a> (Mary)
 <li><a href="project/report/2020/malte-convention.pdf">Normative Aspects of Privacy Regulations</a> (Hyun, Rebecca)
 <li><a href="project/report/2020/multiverse-mysql.pdf">Multiverse PostgreSQL</a> (Casey)
 <li>Impact of GDPR Compliance on Machine Learning Models (Sam Thomas, Nam)
 <li><a href="project/report/2020/cbyc.pdf">GDPR Compliance by Construction</a> (Kinan)
 <li>Framework for Data Tracking across Controllers and Processors (Zhiyuan, Yanzhi, Atlas)
</ol>
