<h2>Project Conference (I)</h2>

<p>The project conference is a chance for you to present your project to the course, to share your progress, and to collect feedback.</p>

<p>Ideally, you would structure your presentation to hit the following major points:</p>
<ol>
  <li>What's your project's pitch? (Remember that your classmates have not seen the project proposal.)<br />
  I find it helpful to structure a one minute pitch by answering the following three questions in 3-4 sentences:
  <ol>
    <li>What problem are you addressing?
    <li>Why is it important?
    <li>What is your solution, and what's the key idea to make it work?
  </ol>
  <li>How are you realizing your solution? What's your approach, architecture, or preliminary design?
  <li>How far along are you with the implementation? What problems or hurdles, if any, did you encounter?
  <li>Are there any chances (expected or unexpected) that you made to your plan or design?
</ol>

<p>Each project team will have <b>6 minutes</b> to present. You may use slides, draw on a virtual whiteboard, or just talk.</p>

<h3>Order of presentations</h3>

<ol>
 <li>Actionable GDPR Information on Internet Trackers (Sam Boger)
 <li>Dataflow Assertions in gRPC (Jonathan, Yingjie, Akshat)
 <li>Impact of GDPR Compliance on Machine Learning Models (Sam Thomas, Nam)
 <li>Visualizing Web Trackers (Hyun, Rebecca)
 <li>GDPR Compliance by Construction (Kinan)
 <li>DELF-style DDL and API (Mary)
 <li>Cross-website Tracker Visualization Extension (Ragna, Aryan, William)
 <li>Multiverse PostgreSQL (Casey)
 <li>Framework for Data Tracking across Controllers and Processors (Zhiyuan, Yanzhi, Atlas)
</ol>
