<h2>Project Conference (II)</h2>

<p>The project conference is a chance for you to share your progress on your project with everyone, and to collect feedback.</p>

<p>Ideally, you would structure your presentation to hit the following major points:</p>
<ol>
  <li>Remind the audience of what's your project's pitch.<br />
  I find it helpful to structure a one minute pitch by answering the following three questions in 3-4 sentences:
  <ol>
    <li>What problem are you addressing?
    <li>Why is it important?
    <li>What is your solution, and what's the key idea to make it work?
  </ol>
  <li>Give an update on how you are realizing your solution, and how far along you are.
  <li>Discuss what you plan to do in the remaining two weeks of project time.
  <li>If possible, show a demo of your project!
</ol>

<p>Each project team will have <b>6 minutes</b> to present. You may use slides, draw on a virtual whiteboard, or just talk.</p>

<h3>Order of presentations</h3>

<ol>
 <li>DELF-style DDL and API (Mary)
 <li>Dataflow Assertions in gRPC (Jonathan, Yingjie, Akshat)
 <li>Multiverse PostgreSQL (Casey)
 <li>Normative Aspects of Privacy Regulations (Hyun, Rebecca)
 <li>Impact of GDPR Compliance on Machine Learning Models (Sam Thomas, Nam)
 <li>Cross-website Tracker Visualization Extension (Ragna, Aryan, William)
 <li>GDPR Compliance by Construction (Kinan)
 <li>Framework for Data Tracking across Controllers and Processors (Zhiyuan, Yanzhi, Atlas)
 <li>Actionable GDPR Information on Internet Trackers (Sam Boger)
</ol>
