<h2>Project Conference</h2>

<p>The project conference is a chance for you to present your project to the course, to share your progress, and to collect feedback.</p>

<p>Ideally, you would structure your presentation to hit the following major points:</p>
<ol>
  <li>What's your project's pitch? (Remember that your classmates have not seen the project proposal.)<br />
  I find it helpful to structure a one minute pitch by answering the following three questions in 3-4 sentences:
  <ol>
    <li>What problem are you addressing?
    <li>Why is it important?
    <li>What is your solution, and what's the key idea to make it work?
  </ol>
  <li>How are you realizing your solution? What's your approach, architecture, or preliminary design?
  <li>How far along are you with the implementation? What problems or hurdles, if any, did you encounter?
  <li>Are there any chances (expected or unexpected) that you made to your plan or design?
</ol>

<p>Each project team will have <b>5 minutes</b> to present. You may use slides, draw on the whiteboard, or just talk.</p>

<h3>Order of presentations</h3>

<ol>
 <li>Enforcing User Defined Privacy Constraint in Service Mesh Data Planes (Saim, Ghulam, Amir)
 <li>GDPR-compliant blockchain (Ankita, James)
 <li>GDPR compliance by construction in Noria (Wensi, Zeling, Zhoutao)
 <li>Haskell policy enforcement library (Archer)
 <li>Odlaw: Retroactive GDPR Compliance For Relational Databases (Connor, Jearson)
 <li>CryptDB-style Encryption for Apache Spark (Luke)
 <li>A GDPR-compliant key-value store (Marilyn, Archita)
 <li>PIR-based circuit exchange in Yodel (Alex)
 <li>Beacon anonymization (Yanyan, Yuchen)
 <li>GDPR-Compliant CryptDB Proxy (Washington)
 <li>Paranoid: Privacy through Granular Separation of User Identities (Irvin, Brandon)
</ol>
